body,html{
    height:100%;
}

h2{
    font-weight: bold;
}

h1{
    font-weight: bold;
    color: whitesmoke;
    text-shadow: .2rem .2rem 1rem rgba(0,0,0,0.43);
}

body{
    font-family: 'Nunito', sans-serif;
}

.paciente{
    --primary-color: #b9f6ca;
    --primary-light: #ecfffd;
    --primary-dark: #88c399;
    --secondary-color: #ff5252;
    --secondary-light: #ff867f;
    --secondary-dark: #c50e29;
    background-color: var(--primary-color);
}

.nutricionista{
    --primary-color: #ff8a80;
    --primary-light: #ffbcaf;
    --primary-dark: #c85a54;
    --secondary-color: #69f0ae;
    --secondary-light: #9fffe0;
    --secondary-dark: #2bbd7e;
    background-color: var(--primary-color);
}

.login{
    background-color: grey;
}

.container-fluid{
    padding: 2rem;
}

.btn.btn-primary{
    background-color: var(--secondary-color);
    border: none;
}
.btn.btn-primary:active{
    background-color: var(--secondary-dark) !important;
}
.btn:active{
    box-shadow:none !important;
}

.btn-primary.btn-group-btn{
    background-color: var(--primary-color);
    border: none;
}

.btn-group-btn{
    margin-bottom: 1rem;
}

.btn-secondary.btn-group-btn{
    color: black;
    background-color: lightgray;
    border: none;
}
.btn-secondary.btn-group-btn:hover{
    background-color: var(--primary-light);
}

.navbar-custom { 
    background-color: var(--primary-color);
} 
.navbar-text {
    color: white; 
    font-weight: bold;
	font-size: 19;
	font-family: 'Nunito', sans-serif;
    background-color: var(--primary-color);
}

/* Style the search box */
#pacienteSearch {
    width: 100%;
    font-size: 17px;
    padding: 9px;
    border: 1px solid #ddd;
}
  
/* Style the navigation menu */
#pacienteMenu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Style the navigation links */
#pacienteMenu li a {
    padding: 12px;
    text-decoration: none;
    font-weight: bold;
    color: white; 
	font-size: 17;
	font-family: 'Nunito', sans-serif;
    display: block
}

#pacienteMenu li a:hover {
    background-color: var(--primary-dark);
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: var(--primary-color);
    color: var(--primary-color);
    transition: all 0.3s;
}

.card{
    box-shadow: .2rem .2rem 1rem rgba(0,0,0,0.23);
}

.btn-style-1.btn-white {
    background-color: #fff;
}
.list-group-item i {
    display: inline-block;
    margin-top: -1px;
    margin-right: 8px;
    font-size: 1.2em;
    vertical-align: middle;
}
.mr-1, .mx-1 {
    margin-right: .25rem !important;
}

.list-group-item.active:not(.disabled) {
    border-color: #e7e7e7;
    background: #fff;
    color: var(--primary-color);
    cursor: default;
    pointer-events: none;
}
.list-group-flush:last-child .list-group-item:last-child {
    border-bottom: 0;
}

.list-group-flush .list-group-item {
    border-right: 0 !important;
    border-left: 0 !important;
}

.list-group-flush .list-group-item {
    border-right: 0;
    border-left: 0;
    border-radius: 0;
}
.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
}
a.list-group-item, .list-group-item-action {
    color: #404040;
    font-weight: 600;
}
.list-group-item {
    padding-top: 16px;
    padding-bottom: 16px;
    -webkit-transition: all .3s;
    transition: all .3s;
    border: 1px solid #e7e7e7 !important;
    border-radius: 0 !important;
    color: #404040;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .08em;
    text-transform: uppercase;
    text-decoration: none;
}
.list-group-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.125);
}
.list-group-item.active:not(.disabled)::before {
    background-color: var(--primary-color);
}

.list-group-item::before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background-color: transparent;
    content: '';
}