body,html{
    height:100%;
}

a:hover{
    text-decoration: none;
}

h2{
    font-weight: bold;
}

.paciente h1{
    font-weight: bold;
    color: black;
    /*text-shadow: .2rem .2rem 1rem rgba(0,0,0,0.43);*/
}

.nutricionista h1{
    font-weight: bold;
    color: whitesmoke;
    /*text-shadow: .2rem .2rem 1rem rgba(0,0,0,0.43);*/
}

body{
    font-family: 'Nunito', sans-serif;
}

.paciente{
    --primary-color: #b9f6ca;
    --primary-light: #ecfffd;
    --primary-dark: #88c399;
    --secondary-color: #ff5252;
    --secondary-light: #ff867f;
    --secondary-dark: #c50e29;
    --navbar-txt-color: black;
    background-color: var(--primary-color);
}

.nutricionista{
    --primary-color: #ff8a80;
    --primary-light: #ffbcaf;
    --primary-dark: #c85a54;
    --secondary-color: #69f0ae;
    --secondary-light: #9fffe0;
    --secondary-dark: #2bbd7e;
    --navbar-txt-color: whitesmoke;
    background-color: var(--primary-color);
}

a.navbar-text{
    color: var(--navbar-txt-color);
}

.login{
    background-color: grey;
    --primary-color: black;
    --primary-dark: black;
    --secondary-color: black;
    --secondary-light: black;
    --secondary-dark: black;
}

.container-fluid{
    padding: 2rem;
}

a:hover{
    color: lightgray;
}

/* Accordion styling */
.btn.btn-link{
    color: var(--primary-dark);
    font-weight: bold;
    font-size: 20px;
}
.btn.btn-link:hover{
    color: var(--primary-color);
    font-weight: bold;
}
/* -----------------  */
.nav-item{
    padding: 10px;
}
.navbar-text{
    font-size: 20px;
}
.btn.btn-primary{
    background-color: var(--secondary-color);
    border: none;
    font-weight: bold;
}
.btn.btn-primary:active{
    background-color: var(--secondary-dark) !important;
}
.btn:active{
    box-shadow:none !important;
}

.btn-primary.btn-group-btn{
    background-color: var(--primary-color);
    border: none;
}

.btn-group-btn{
    margin-bottom: 1rem;
}

.btn-secondary.btn-group-btn{
    color: black;
    background-color: lightgray;
    border: none;
}
.btn-secondary.btn-group-btn:hover{
    background-color: var(--primary-light);
}

.navbar-custom { 
    background-color: var(--primary-color);
    width: 100%;
} 
.navbar-text {
    color: white; 
    font-weight: bold;
	font-size: 25;
	font-family: 'Nunito', sans-serif;
    background-color: var(--primary-color);
}

.main {
    margin-left: 360px; /* Same as the width of the sidebar */
    padding-left: 10px;
    padding-right: 20px;
}

.sidenav {
    width: 350px; /* Set the width of the sidebar */
    height: 100%;
    left: 0;
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 30; /* Stay at the top */
    background-color: white;
    overflow-x: hidden; /* Disable horizontal scroll */
}

.sidenav-search {
    width: 100%;
    font-size: 17px;
    padding: 9px;
    border: 1px solid #ddd;
}
  
.sidenav-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
} 

.sidenav-menu li a {
    padding: 0px;
    text-decoration: none;
    font-weight: bold;
    color: var(--primary-dark); 
	font-size: 17;
	font-family: 'Nunito', sans-serif;
}   
.card{
    box-shadow: .2rem .2rem 1rem rgba(0,0,0,0.23);
}
.card-title{
    font-size: 19px;
    font-weight: bold;
    margin-left: 10px;
}
.card-header{
    height: 3.2rem;
}
.progress .progress-bar{
    background-color: var(--primary-dark);
}
.list-group-item:hover{
    background-color: var(--primary-light);
}
.card-body p{
   margin:0;
   padding:0; 
}

.card-detail{
    padding: 15px;
}
.main ul{
    margin: 0px;
    padding: 0px;
}