body,html{
    height:100%;
}

a:hover{
    text-decoration: none;
}

h2{
    font-weight: bold;
}

.paciente h1{
    font-weight: bold;
    color: black;
    /*text-shadow: .2rem .2rem 1rem rgba(0,0,0,0.43);*/
}

.nutricionista h1{
    font-weight: bold;
    color: whitesmoke;
    /*text-shadow: .2rem .2rem 1rem rgba(0,0,0,0.43);*/
}

body{
    font-family: 'Nunito', sans-serif;
}

.paciente{
    --primary-color: #b9f6ca;
    --primary-light: #ecfffd;
    --primary-dark: #88c399;
    --secondary-color: #ff5252;
    --secondary-light: #ff867f;
    --secondary-dark: #c50e29;
    --navbar-txt-color: black;
    --navbar-bg-color: var(--primary-light);
    background-color: var(--primary-color);
}

.nutricionista{
    --primary-color: #ff8a80;
    --primary-light: #ffbcaf;
    --primary-dark: #c85a54;
    --secondary-color: #69f0ae;
    --secondary-light: #9fffe0;
    --secondary-dark: #2bbd7e;
    --navbar-txt-color: var(--primary-dark);
    --navbar-bg-color: white;
    background-color: var(--primary-color);
}

.login{
    background-color: grey;
    --primary-color: black;
    --primary-dark: black;
    --secondary-color: black;
    --secondary-light: black;
    --secondary-dark: black;
}

.container-fluid{
    padding: 2rem;
}

.form-control:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 8px var(--primary-color);
    margin-bottom: 2px;
}
hr {
    border-color: var(--primary-dark);
    margin: 5px;
}

a:hover{
    color: lightgray;
}

.btn.btn-link{
    color: var(--primary-dark);
    font-weight: bold;
    font-size: 20px;
}
.btn.btn-link:hover{
    color: var(--primary-color);
    font-weight: bold;
}
.colored-title{
    color: var(--navbar-txt-color);
    font-weight: bold;
    font-size: 20px;
}
.nav-item{
    padding: 10px;
}

.btn.btn-primary{
    background-color: var(--secondary-color);
    border: none;
    font-weight: bold;
}
.btn.btn-primary:active{
    background-color: var(--secondary-dark) !important;
}
.btn:active{
    box-shadow:none !important;
}

.btn-primary.btn-group-btn{
    background-color: var(--primary-color);
    border: none;
}

.btn-group-btn{
    margin-bottom: 1rem;
}
.tick-aceptar {
    color: green;
}
.cruz-rechazar{
    color: red;
}
.btn-secondary.btn-group-btn{
    color: black;
    background-color: lightgray;
    border: none;
}
.btn-secondary.btn-group-btn:hover{
    background-color: var(--primary-light);
}

.navbar-custom { 
    background-color: var(--navbar-bg-color);
} 
.navbar-text {
    font-weight: bold;
    font-size: 25;
    color: var(--primary-dark);
}

.main {
    margin-left: 360px; /* Same as the width of the sidebar */
    padding-left: 10px;
    padding-right: 20px;
}

.sidenav {
    width: 350px; /* Set the width of the sidebar */
    height: 100%;
    left: 0;
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 30; /* Stay at the top */
    background-color: white;
    overflow-x: hidden; /* Disable horizontal scroll */
}
.sidenav-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
} 

.sidenav-menu li a {
    padding: 0px;
    text-decoration: none;
    font-weight: bold;
    color: var(--primary-dark); 
	font-size: 17;
}   
.card{
    box-shadow: .2rem .2rem 1rem rgba(0,0,0,0.23);
}
.card-title{
    font-size: 19px;
    font-weight: bold;
    margin-left: 10px;
}
.card-header{
    height: 3.2rem;
}
.progress .progress-bar{
    background-color: var(--primary-dark);
}
.list-group-item:hover{
    background-color: var(--primary-light);
}
.card-body p{
   margin:0;
   padding:0; 
}

.card-detail{
    padding: 15px;
}
.main ul{
    margin: 0px;
    padding: 0px;
}
  
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
} 
#wrapper.toggled {
    padding-left: 350px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 350px;
    width: 0;
    height: 100%;
    margin-left: -350px;
    overflow-y: auto;
    background: white;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 350px;       
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-left: 0px;
}


/* Sidebar Styles */
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 350px;
    margin: 0;
    padding: 0;
    list-style: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 0;
    }
    #wrapper.toggled {
        padding-left: 350px;
    }
    #sidebar-wrapper {
        width: 0;
    }
    #wrapper.toggled #sidebar-wrapper {
        width: 350px;
    }
    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }
    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-left: 0;
    }
    .col-md-6{
        width:100%;
        float:left;
        margin:0;
    }
}