<web-app>
<servlet>
	<servlet-name>signin</servlet-name>
	<servlet-class>SignIn.java</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>signin</servlet-name>
	<url-pattern>/signin</url-pattern>
</servlet-mapping>


<welcome-file-list>
	<welcome-file>index.html</welcome-file>
</welcome-file-list>
</web-app>